
{%- set version = salt['pillar.get']('suitecrm:server:version') %}

{%- set server = salt['grains.filter_by']({
    'Linux': {
        'dir': '/srv/suitecrm',
        'service': 'suitecrm',
        'app': {}
    },
}, grain='kernel', merge=salt['pillar.get']('suitecrm:server')) %}

